TOKEN=MTE5MTgyNjc5ODA2NjAyMDQwMg.Gg0ScZ.tD9G23qNYfqMjUH7js_HlUG78aRjcITAP3BHqo
GUILD_ID=1213381289680576563
CLIENT_ID=1191826798066020402
BGEN_CHANNEL_ID=*BOOSTER GENERATOR CHANNEL ID*
FGEN_CHANNEL_ID=1213525065011036160
VGEN_CHANNEL_ID=*VIP GENERATOR CHANNEL ID*
BAN_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
BOOSTER_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
VIP_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
FREE_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
NOTIFY_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
WARNING_EMOJI_ID= *Use /loademoji Bot command to get Emoji ID*
